.alert{
    background-color: green;
    color: $white;
    text-align: center;

    &-red{
        background-color: $main_red;
    }

    position: fixed;
    max-width: 970px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
    margin: auto;
    min-height: 60px;
    padding: 25px;
    z-index: 99;
    animation: showAlert 4s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 10px;

    a{
        color: $white;
    }
}


@keyframes showAlert {
    10%,80%{
        top: 50px;
        opacity: 1;
    }
}