.heading-h1{
    font-weight: 700;
    color: $main_red;
    font-size: 32px;
    text-align: center;

    &.mt-40{
        margin-top: 40px;
    }

    @media screen and (max-width:768px) {
        max-width: clamp(280px,80%,700px);
        margin: auto;
    }

   
}