.paragraph{
    line-height: 143%;
    color: #000000;
    font-size: 14px;

    &.text-center{
        text-align: center;
    }

    &.mt-8{
        margin-top: 8px;
    }

    &.mt-16{
        margin-top: 16px;
    }

    &.mt-30{
        margin-top: 30px;
    }

    &.w-65x{
        width: 65%;
        margin-inline: auto;
    }

    &.steps-paragraph{
        @media screen and (max-width:768px){
            width: 90%;
        }
        
        @media screen and (max-width:400px){
            width: 100%;
        }
    }
}