*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: $light_orange;
}

body{
    max-width: 1440px;
    margin: auto;
}

main{
    @media screen and (max-width:1024px){
       padding-inline: 16px;
    }
}

a{
    color: $black;
    text-decoration: none;
}

button{
    appearance: none;
    background: none;
    border: none;
}