.main-red{
    color: $main_red;
}

.black{
    color: $black;
}

.dark-grey{
    color: $dark_grey;
}

.text-center{
    text-align: center;
}

.semibold{
    font-weight: 600;
}

.section-white{
    background-color: $white;
}

.flex-row-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-40{
    margin-top: 40px;
}

.m-auto{
    margin: auto;
}

.underline{
    text-decoration: underline;
}

.w-full{
    width: 100%;
}


.pointer{
    cursor: pointer;
}


.out-of-screen{
    position: absolute;
    top: -5000px;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.p-20{
    padding: 20px;
}