* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFFBF9;
}

body {
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  main {
    padding-inline: 16px;
  }
}

.page-section {
  max-width: 1115px;
  margin: 0 auto 40px auto;
}

a {
  color: #0D0D0D;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

.main-red {
  color: #99331A;
}

.black {
  color: #0D0D0D;
}

.dark-grey {
  color: #565656;
}

.text-center {
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.section-white {
  background-color: #FFFFFF;
}

.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin: auto;
}

.underline {
  text-decoration: underline;
}

.w-full {
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: center;
  max-width: 782px;
  gap: 49.86px;
  align-items: center;
  height: 56.05px;
  margin: auto;
  margin-top: 40px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .header-nav {
    width: 100%;
    margin: 0;
    height: 85.36px;
    justify-content: space-between;
    padding-inline: 16px;
    max-width: 100%;
  }
}
.header-nav-links-container {
  display: flex;
  gap: 28px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header-nav-links-container {
    display: none;
  }
}
.header-nav-links-icons-container, .header-nav-links-icons-container a {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-nav .separator {
  border: 1px solid #99331A;
  height: 5px;
  border-radius: 50px;
}
.header-nav a.active {
  border-bottom: 1px solid #0D0D0D;
}
.header-nav a {
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
.header-nav a:not(.no-border):hover {
  border-bottom: 1px solid #0D0D0D;
}
.header-nav a.header-logo-link:hover {
  background: rgb(255, 237, 226);
  border-radius: 10px;
}
.header-nav a.hover__fill-red:hover svg path {
  transition: 0.3s ease;
  fill: #99331A;
}
.header-nav .header-logo {
  background: url("../icons/logo.svg");
  width: 113.29px;
  height: 40.05px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .header-nav .header-logo {
    background: url("../icons/logoMobile.svg");
    width: 46.04px;
    height: 53.36px;
    background-repeat: no-repeat;
  }
}
.header-nav .menu-container {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .header-nav .menu-container {
    display: none;
  }
}
.header-nav .menu-container div {
  display: flex;
  width: 28.67px;
  height: 20.07px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  transform: rotateY(180deg);
}
.header-nav .menu-container span {
  width: 100%;
  height: 3px;
  background-color: #565656;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.header-nav .menu-container span:first-child {
  width: 80%;
}
.header-nav .menu-container span:last-child {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .header-nav .menu-container {
    width: 45.88px;
    height: 45.88px;
  }
}
.header-nav .menu-container.active span {
  width: 100%;
  height: 3px;
  background-color: #565656;
  border-radius: 10px;
  background-color: #99331A;
}
.header-nav .menu-container.active span:first-child {
  width: 100%;
}
.header-nav .menu-container.active span:last-child {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header-nav.active {
    position: fixed;
    height: 100vh;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: height 0.2s ease;
    z-index: 10;
  }
  .header-nav.active .menu-container, .header-nav.active .header-logo {
    position: absolute;
  }
  .header-nav.active .menu-container {
    right: 16px;
    top: 20px;
  }
  .header-nav.active .header-logo {
    left: 16px;
    top: 16px;
  }
  .header-nav.active .header-nav-links-container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .header-nav.active .header-nav-links-container a:hover {
    border-bottom: 1px solid #0D0D0D;
  }
  .header-nav.active .header-nav-links-icons-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .header-nav.active .header-nav-links-icons-container svg {
    transform: scale(1.2);
  }
  .header-nav.active .header-nav-links-icons-container a:first-child::before {
    content: "Favoris";
  }
  .header-nav.active .header-nav-links-icons-container a:last-child::before {
    content: "Messagerie";
  }
  .header-nav.active .separator {
    display: none;
  }
}

.heading-h1 {
  font-weight: 700;
  color: #99331A;
  font-size: 32px;
  text-align: center;
}
.heading-h1.mt-40 {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .heading-h1 {
    max-width: clamp(280px, 80%, 700px);
    margin: auto;
  }
}

.paragraph {
  line-height: 143%;
  color: #000000;
  font-size: 14px;
}
.paragraph.text-center {
  text-align: center;
}
.paragraph.mt-8 {
  margin-top: 8px;
}
.paragraph.mt-16 {
  margin-top: 16px;
}
.paragraph.mt-30 {
  margin-top: 30px;
}
.paragraph.w-65x {
  width: 65%;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .paragraph.steps-paragraph {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .paragraph.steps-paragraph {
    width: 100%;
  }
}

.apt-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  width: 355px;
  height: 552px;
  max-height: 552px;
  position: relative;
}
.apt-card img {
  width: 355px;
  height: 376px;
  -o-object-fit: cover;
     object-fit: cover;
}
.apt-card-details-section {
  margin-top: 16px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.apt-card-details-section h3 {
  font-weight: 500;
  font-size: 18px;
  color: #0D0D0D;
}
.apt-card-details-section .address {
  margin-top: 8px;
  font-size: 14px;
  color: #565656;
}
.apt-card-details-section .price {
  font-weight: 500;
  font-size: 14px;
  color: #0D0D0D;
  margin-right: 6px;
}
.apt-card .fav-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  background-color: #F5F5F5;
  border-radius: 5px;
  cursor: pointer;
}
.apt-card .fav-btn-main-red {
  background-color: #99331A;
}
.apt-card .price-container {
  position: absolute;
  bottom: 24px;
}

.apts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 24px;
}
@media screen and (max-width: 1112px) {
  .apts-list {
    justify-content: center;
  }
}

.btn-container {
  height: 36px;
}
.btn-container.w-200 {
  width: 200px;
}
.btn-container.w-230 {
  width: 200px;
}
.btn-container.w-96 {
  width: 96px;
}
.btn-container a, .btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  cursor: pointer;
}

.retour-btn-container {
  height: 36px;
  font-size: 14px;
}
.retour-btn-container-w-93 {
  width: 93px;
}
.retour-btn-container-w-189 {
  width: 189px;
}

.btn-main-red {
  background-color: #99331A;
  color: #FFFFFF;
  font-weight: 500;
}

.btn-light-grey {
  background-color: #F5F5F5;
  color: #565656;
  font-weight: 500;
}

.flex-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flex-input-container input[type=text] {
  width: 371px;
}

.file-input-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.file-input-btn span {
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  pointer-events: none;
}

.plusBtn {
  width: 37px;
  height: 37px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #99331A;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 5.78px;
  cursor: pointer;
}

.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(236, 236, 236, 0.795);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-container .loading-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid black;
  border-top: none;
  animation: spin 0.4s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.hero {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
@media screen and (max-width: 1140px) {
  .hero {
    width: 100%;
  }
}

.steps-section {
  padding: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  .steps-section {
    padding: 16px;
  }
}

.steps-list-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.step-card {
  width: 270px;
  height: 199px;
  background-color: #842C16;
  border-radius: 10px;
  padding-inline: 22px;
  padding-top: 44px;
}
.step-card .flex-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.step-card span {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.step-card p {
  font-size: 12px;
  line-height: 143%;
  color: #FFFFFF;
}

.about-mission-section {
  max-width: 1115px;
  margin: auto;
  position: relative;
}
.about-mission-section h2 {
  color: #99331A;
  font-weight: 700;
  font-size: 18px;
}
.about-mission-section ol {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: #000000;
  line-height: 143%;
  transform: translateX(15px);
}
.about-mission-section p {
  color: #99331A;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
}
@media screen and (max-width: 910px) {
  .about-mission-section p {
    position: absolute;
    bottom: -100px;
    left: 0;
  }
}
@media screen and (max-width: 650px) {
  .about-mission-section p {
    bottom: -120px;
  }
}
@media screen and (max-width: 500px) {
  .about-mission-section p {
    bottom: -140px;
  }
}
@media screen and (max-width: 400px) {
  .about-mission-section p {
    bottom: -180px;
  }
}
@media screen and (max-width: 353px) {
  .about-mission-section p {
    bottom: -210px;
  }
}
.about-mission-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 910px) {
  .about-mission-flex-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.about-mission-img-container {
  width: 494px;
  height: 458px;
}
@media screen and (max-width: 910px) {
  .about-mission-img-container {
    width: 100%;
  }
}
.about-mission-img-container img {
  width: 494px;
  height: 458px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 910px) {
  .about-mission-img-container img {
    width: 100%;
  }
}

.sec-paragraph {
  width: 65%;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .sec-paragraph {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .sec-paragraph {
    width: 100%;
  }
}

.notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 40px;
}
.notFound-container .notfound-h1 {
  font-weight: 900;
  color: #99331A;
  font-size: 100px;
  text-align: center;
}
.notFound-container p {
  text-align: center;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 650px) {
  .notFound-container p {
    width: 80%;
  }
}
@media screen and (max-width: 430px) {
  .notFound-container p {
    width: 100%;
  }
}
.notFound-container .notFound-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.ajout-page {
  padding-top: 40px;
  padding-inline: 136px;
}
.ajout-page .flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ajout-page h1 {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.ajout-page .ajout-form-flex-container {
  display: flex;
  justify-content: space-between;
}
.ajout-page .white-container {
  background-color: #FFFFFF;
  width: 576px;
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ajout-page .white-container-py-80 {
  padding-block: 80px;
}
.ajout-page .white-container-py-48 {
  padding-block: 48px;
}
.ajout-page .white-container-h-444 {
  height: 444px;
}
.ajout-page .flex-col-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 416px;
}
.ajout-page .flex-col-input-container label {
  font-weight: 500;
  font-size: 14px;
}
.ajout-page .flex-col-input-container input:not(input[type=file]), .ajout-page .flex-col-input-container textarea, .ajout-page .flex-col-input-container .file-text-container {
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 100%;
}
.ajout-page .flex-col-input-container textarea {
  padding-top: 10px;
  height: 120px;
}
.ajout-page .flex-col-input-container input[type=file] {
  width: 37px;
  height: 37px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #99331A;
  text-indent: -999em;
  cursor: pointer;
  border-radius: 5.78px;
}
.ajout-page .flex-col-input-container p {
  font-size: 14px;
  color: #99331A;
}
.ajout-page .right-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ajout-page .grid-2-col-200 {
  display: grid;
  width: 416px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
  margin-top: 16px;
}
.ajout-page .grid-2-col-200 .checkbox-container {
  padding-left: 16px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.ajout-page .grid-2-col-200 .checkbox-container label, .ajout-page .grid-2-col-200 .checkbox-container input {
  cursor: pointer;
}
.ajout-page .categories-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-top: 16px;
}
.ajout-page .categories-container .category-Btn {
  border-radius: 5px;
  background-color: #F5F5F5;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}
.ajout-page .categories-container .category-Btn input {
  display: none;
}
.ajout-page .categories-container .category-Btn label {
  color: #565656;
  text-align: center;
  font-size: 12px;
  pointer-events: none;
}

.logement-page {
  margin-top: 86px;
  max-width: 971px;
  margin-inline: auto;
}
.logement-page img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.logement-page .flex-row-container {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
.logement-page .carousel {
  display: flex;
  gap: 10px;
}
.logement-page .carousel .big-pic {
  width: 303px;
  height: 357px;
  cursor: pointer;
}
.logement-page .carousel .little-pics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.logement-page .carousel .little-pics-container img {
  width: 147px;
  height: 174px;
  cursor: pointer;
}
.logement-page .profile-info-container {
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5;
  width: 345px;
  height: 281px;
  padding: 24px;
  border-radius: 10px;
}
.logement-page .profile-info-container .profile-flex-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.logement-page .profile-info-container .profile-title {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
}
.logement-page .profile-info-container .profile-flex-row {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-block: 16px;
}
.logement-page .profile-info-container .reviews {
  background-color: #F5F5F5;
  width: 50px;
  height: 39px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.logement-page .profile-info-container a, .logement-page .profile-info-container button {
  font-size: 14px;
  font-weight: 500;
}
.logement-page .profile-info-container .profile-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.logement-page .logement-info-container {
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5;
  width: 616px;
  padding: 24px;
  margin-top: 24px;
}
.logement-page .logement-info-container .logement-title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.logement-page .logement-info-container address {
  color: #565656;
  font-size: 14px;
  font-style: normal;
  margin-top: 16px;
}
.logement-page .logement-info-container .logement-desc-container {
  margin: 32px 0 40px 0;
}
.logement-page .logement-info-container .logement-desc {
  color: #000000;
  font-size: 14px;
}
.logement-page .logement-info-container .equip-title, .logement-page .logement-info-container .category-title {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.logement-page .logement-info-container .logement-items-list-container {
  margin-top: 16px;
}
.logement-page .logement-info-container .logement-items-list-container .list-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 8px;
  list-style: none;
}
.logement-page .logement-info-container .logement-items-list-container .list-item {
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 100px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #565656;
  text-align: center;
}

.favoris-page-heading-section {
  margin-block: 70.86px;
}
@media screen and (max-width: 1024px) {
  .favoris-page-heading-section {
    margin-block: 40px;
  }
}
.favoris-page p {
  color: #000;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
@media screen and (max-width: 420px) {
  .favoris-page p {
    display: block;
  }
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-page-container {
  width: 742px;
  height: 590px;
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5;
  margin-top: 134.29px;
  padding: 80px;
}
@media screen and (max-width: 400px) {
  .auth-page-container {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .auth-page-container {
    margin-top: 93.64px;
    padding: 32px 16px;
  }
}
.auth-page .auth-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.auth-page p {
  color: #000;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .auth-page p {
    display: block;
  }
}
.auth-page form {
  margin-top: 38px;
  margin-bottom: 22px;
  max-width: 360px;
  margin-inline: auto;
}
.auth-page form .input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: auto;
  width: 360px;
}
@media screen and (max-width: 400px) {
  .auth-page form .input-container {
    width: 100%;
  }
}
.auth-page form .input-container label {
  color: #0D0D0D;
  font-weight: 500;
}
.auth-page form .input-container-last {
  margin-top: 22px;
}
.auth-page form .input-container input {
  height: 40px;
  border-radius: 4px;
  padding-left: 8px;
  border: 1px solid #F5F5F5;
  background-color: #FFFFFF;
  width: 100%;
}
.auth-page form button {
  margin-top: 38px;
  height: 36px;
}
.auth-page form .btn-container-inscription button {
  margin-top: 16px;
}
.auth-page .actions-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  font-size: 14px;
  color: #99331A;
}
.auth-page .actions-container a {
  color: #99331A;
}
.auth-page-inscription .auth-page-container {
  height: 797px;
  margin-top: 40px;
}
@media screen and (max-width: 400px) {
  .auth-page-inscription .auth-page-container {
    height: 100%;
  }
}
.auth-page-conditions-checkbox-container {
  width: 100%;
}
.auth-page-conditions-checkbox-container label {
  font-size: 12px;
  color: #565656;
  margin-left: 10px;
}
.auth-page .actions-container-inscription {
  margin-top: 22px;
}

.messagerie-page {
  width: 1059px;
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: #FFFFFF;
  z-index: 10;
  height: 100vh;
  display: flex;
}
.messagerie-page-left-container {
  min-width: 376px;
  padding: 27px 8px;
}
.messagerie-page .messages-section {
  margin-top: 23px;
}
.messagerie-page h1 {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}
.messagerie-page .message-list {
  margin-top: 16px;
  list-style: none;
  max-width: 360px;
}
.messagerie-page .message-list .message-item button {
  width: 100%;
  cursor: pointer;
}
.messagerie-page .message-list .message-item-container {
  padding: 8px 10px;
  border-bottom: 1px solid #F5F5F5;
}
.messagerie-page .message-list .message-item-container-selected {
  background-color: #FFFBF9;
}
.messagerie-page .message-list .message-item-container .message-item-left-container {
  display: flex;
  align-items: center;
}
.messagerie-page .message-list .message-item-container .message-info-right-container {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-left: 20px;
  gap: 43.5px;
  width: 100%;
}
.messagerie-page .message-list .message-item-container .user-name {
  font-size: 14px;
  color: #0D0D0D;
  font-weight: 500;
}
.messagerie-page .message-list .message-item-container .user-message-short {
  margin-top: 4px;
  font-size: 10px;
  color: #565656;
}
.messagerie-page .message-list .message-item-container .sent-time {
  font-size: 10px;
  color: #565656;
}
.messagerie-page .message-list .message-item-container .message-checked {
  width: 6px;
  height: 6px;
  background-color: #99331A;
  display: block;
  border-radius: 50%;
}
.messagerie-page .message-list .message-item-container .message-time-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}
.messagerie-page .conversation-section {
  background-color: #FFFBF9;
  width: 100%;
  padding: 40px 42px;
  height: calc(100% - 137px);
}
.messagerie-page .conversation-messages-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.messagerie-page .conversation-messages-list li {
  display: flex;
  gap: 6px;
}
.messagerie-page .conversation-messages-list .user-message-row-reverse {
  flex-direction: row-reverse;
}
.messagerie-page .conversation-messages-list .user-message-row-reverse .conversation-message-flex-col-container {
  align-items: flex-end;
}
.messagerie-page .message-user-image {
  width: 44.5px;
  height: 45.05px;
  border-radius: 5.49px;
}
.messagerie-page .conversation-user-image {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
.messagerie-page .conversation-message-flex-col-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.messagerie-page .conversation-message-flex-col-container .circle-space {
  width: 4px;
  height: 4px;
  background-color: #565656;
  display: block;
  border-radius: 100%;
}
.messagerie-page .conversation-message-flex-col-container .conversation-message-info {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 8px;
  color: #565656;
}
.messagerie-page .message-white-container {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 20px;
  padding: 12px;
  border: 1px solid #F5F5F5;
  max-width: 273px;
}
.messagerie-page .message-white-container p {
  font-size: 10px;
  color: #0D0D0D;
}
.messagerie-page .conversation-form {
  padding: 30px 21px;
  position: relative;
}
.messagerie-page .conversation-form form, .messagerie-page .conversation-form textarea {
  width: 100%;
}
.messagerie-page .conversation-form textarea {
  border: 1px solid #F5F5F5;
  height: 95px;
  padding: 16px;
}
.messagerie-page .conversation-form button {
  width: 32px;
  height: 32px;
  background-color: #99331A;
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */