.btn-container{
    height: 36px;
    
    &.w-200{
        width: 200px;
    }

    a,button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        background-color: $main_red;
        color: $white;
        height: 100%;
    }
}