.header-nav{
    display: flex;
    justify-content: center;
    max-width: 782px;
    gap: 49.86px;
    align-items: center;
    height: 56.05px;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: $white;


    @media screen and (max-width:1024px){
        width: 100%;
        margin: 0;
        height: 85.36px;
        justify-content: space-between;
        padding-inline: 16px;
        max-width: 100%;
    }

        &-links-container{
            display: flex;
            gap: 28px;
            align-items: center;

            @media screen and (max-width:1024px){
                display: none;
            }
        }
        


        &-links-icons-container, &-links-icons-container a{
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .separator{
            border: 1px solid $main_red;
            height: 5px;
            border-radius: 50px;
        }
        

        a.active{
            border-bottom: 1px solid $black;
        }

        a{
            transition: all 0.3s ease;
            border-bottom: 1px solid transparent;
        }

        a:not(.no-border):hover{
            border-bottom: 1px solid $black;
        }

        a.header-logo-link:hover{
            background: rgb(255, 237, 226);
            border-radius: 10px;
        }

        a.hover__fill-red:hover{
            svg{
                path{
                    transition: 0.3s ease;
                    fill: $main_red;
                }
            }
           
        }


        .header-logo{
            background: url("../icons/logo.svg");
            width: 113.29px;
            height: 40.05px;
            background-repeat: no-repeat;
            position: relative;
            z-index: 10;

            @media screen and (max-width:1024px){
                background: url("../icons/logoMobile.svg");
                width: 46.04px;
                height: 53.36px;
                background-repeat: no-repeat;
            }
        }

        .menu-container{
            display: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            @media screen and (min-width:1025px) {
                display: none;
            }

            div{
                display: flex;
                width: 28.67px;
                height: 20.07px;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                overflow: hidden;
                transform: rotateY(180deg);
            }

            span{
                width: 100%;
                height: 3px;
                background-color: $dark_grey;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                
                &:first-child{
                    width: 80%;
                }

                &:last-child{
                    width: 60%
                }
            }

            @media screen and (max-width:1024px){
                width: 45.88px;
                height: 45.88px;
            }


            &.active{

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $dark_grey;
                    border-radius: 10px;
                    background-color: $main_red;
                    
                    &:first-child{
                        width: 100%;
                    }

                    &:last-child{
                        width: 100%
                    }
                }
            }
        }
        
    //Nav when menu Open (Mobile)
    &.active{
        @media screen and (max-width:1024px) {
            position: fixed;
            height: 100vh;
            top: 0;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            transition:  height 0.2s ease;
            z-index: 10;

            .menu-container,.header-logo{
                position: absolute;
            }

            .menu-container{
                right: 16px;
                top: 20px;
            }

            .header-logo{
                left: 16px;
                top: 16px;
            }


            .header-nav-links-container{
                display: flex;
                flex-direction: column;
                font-size: 18px;

                a:hover{
                    border-bottom: 1px solid $black;
                }
            }

            .header-nav-links-icons-container{
                display: flex;
                flex-direction: column;
                gap: 28px;

                svg{
                    transform: scale(1.2);
                }
                
                & a:first-child{
                    &::before{
                        content: "Favoris";
                    }
                }

                & a:last-child{
                    &::before{
                        content: "Messagerie";
                    }
                }
            }

            .separator{
                display: none;
            }
        }
     }
}