/* [next]/internal/font/google/inter_6a5e3e00.module.css [app-client] (css) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2c55a0e60120577a-s.2a48534a.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/9c72aa0f40e4eef8-s.18a48cbc.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/ad66f9afd8947f86-s.7a40eb73.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/5476f68d60460930-s.c995e352.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2bbe8d2671613f1f-s.76dcb0b2.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/1bffadaabf893a1e-s.7cd81963.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter Fallback;
  src: local(Arial);
  ascent-override: 90.44%;
  descent-override: 22.52%;
  line-gap-override: 0.0%;
  size-adjust: 107.12%;
}

.inter_6a5e3e00-module__XBpSiW__className {
  font-family: Inter, Inter Fallback;
  font-style: normal;
}

.inter_6a5e3e00-module__XBpSiW__variable {
  --inter: "Inter", "Inter Fallback";
}

/* [project]/app/assets/styles/index.css [app-client] (css) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fffbf9;
}

body {
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  main {
    padding-inline: 16px;
  }
}

.page-section {
  max-width: 1115px;
  margin: 0 auto 40px;
}

a {
  color: #0d0d0d;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

.main-red {
  color: #99331a;
}

.black {
  color: #0d0d0d;
}

.dark-grey {
  color: #565656;
}

.text-center {
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.section-white {
  background-color: #fff;
}

.flex-row-between-center {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin: auto;
}

.underline {
  text-decoration: underline;
}

.w-full {
  width: 100%;
}

.header-nav {
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 49.86px;
  max-width: 782px;
  height: 56.05px;
  margin: 40px auto auto;
  font-size: 14px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 85.36px;
    margin: 0;
    padding-inline: 16px;
  }
}

.header-nav-links-container {
  align-items: center;
  gap: 28px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .header-nav-links-container {
    display: none;
  }
}

.header-nav-links-icons-container, .header-nav-links-icons-container a {
  align-items: center;
  gap: 8px;
  display: flex;
}

.header-nav .separator {
  border: 1px solid #99331a;
  border-radius: 50px;
  height: 5px;
}

.header-nav a.active {
  border-bottom: 1px solid #0d0d0d;
}

.header-nav a {
  border-bottom: 1px solid #0000;
  transition: all .3s;
}

.header-nav a:not(.no-border):hover {
  border-bottom: 1px solid #0d0d0d;
}

.header-nav a.header-logo-link:hover {
  background: #ffede2;
  border-radius: 10px;
}

.header-nav a.hover__fill-red:hover svg path {
  fill: #99331a;
  transition: all .3s;
}

.header-nav .header-logo {
  z-index: 10;
  background: url("../media/logo.c6342e74.svg") no-repeat;
  width: 113.29px;
  height: 40.05px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header-nav .header-logo {
    background: url("../media/logoMobile.4d812148.svg") no-repeat;
    width: 46.04px;
    height: 53.36px;
  }
}

.header-nav .menu-container {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1025px) {
  .header-nav .menu-container {
    display: none;
  }
}

.header-nav .menu-container div {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 28.67px;
  height: 20.07px;
  display: flex;
  overflow: hidden;
  transform: rotateY(180deg);
}

.header-nav .menu-container span {
  background-color: #565656;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  transition: all .3s ease-in-out;
}

.header-nav .menu-container span:first-child {
  width: 80%;
}

.header-nav .menu-container span:last-child {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .header-nav .menu-container {
    width: 45.88px;
    height: 45.88px;
  }
}

.header-nav .menu-container.active span {
  background-color: #99331a;
  border-radius: 10px;
  width: 100%;
  height: 3px;
}

.header-nav .menu-container.active span:first-child, .header-nav .menu-container.active span:last-child {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header-nav.active {
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 100vh;
    transition: height .2s;
    position: fixed;
    top: 0;
  }

  .header-nav.active .menu-container, .header-nav.active .header-logo {
    position: absolute;
  }

  .header-nav.active .menu-container {
    top: 20px;
    right: 16px;
  }

  .header-nav.active .header-logo {
    top: 16px;
    left: 16px;
  }

  .header-nav.active .header-nav-links-container {
    flex-direction: column;
    font-size: 18px;
    display: flex;
  }

  .header-nav.active .header-nav-links-container a:hover {
    border-bottom: 1px solid #0d0d0d;
  }

  .header-nav.active .header-nav-links-icons-container {
    flex-direction: column;
    gap: 28px;
    display: flex;
  }

  .header-nav.active .header-nav-links-icons-container svg {
    transform: scale(1.2);
  }

  .header-nav.active .header-nav-links-icons-container a:first-child:before {
    content: "Favoris";
  }

  .header-nav.active .header-nav-links-icons-container a:last-child:before {
    content: "Messagerie";
  }

  .header-nav.active .separator {
    display: none;
  }
}

.heading-h1 {
  color: #99331a;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.heading-h1.mt-40 {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .heading-h1 {
    max-width: clamp(280px, 80%, 700px);
    margin: auto;
  }
}

.paragraph {
  color: #000;
  font-size: 14px;
  line-height: 143%;
}

.paragraph.text-center {
  text-align: center;
}

.paragraph.mt-8 {
  margin-top: 8px;
}

.paragraph.mt-16 {
  margin-top: 16px;
}

.paragraph.mt-30 {
  margin-top: 30px;
}

.paragraph.w-65x {
  width: 65%;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .paragraph.steps-paragraph {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .paragraph.steps-paragraph {
    width: 100%;
  }
}

.apt-card {
  background-color: #fff;
  border-radius: 10px;
  width: 355px;
  height: 552px;
  max-height: 552px;
  position: relative;
  overflow: hidden;
}

.apt-card img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 355px;
  height: 376px;
}

.apt-card-details-section {
  flex-direction: column;
  gap: 62px;
  margin-top: 16px;
  padding-inline: 24px;
  display: flex;
}

.apt-card-details-section h3 {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 500;
}

.apt-card-details-section .address {
  color: #565656;
  margin-top: 8px;
  font-size: 14px;
}

.apt-card-details-section .price {
  color: #0d0d0d;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
}

.apt-card .fav-btn {
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.apt-card .fav-btn-main-red {
  background-color: #99331a;
}

.apt-card .price-container {
  position: absolute;
  bottom: 24px;
}

.apts-list {
  flex-wrap: wrap;
  justify-content: left;
  gap: 24px;
  display: flex;
}

@media screen and (max-width: 1112px) {
  .apts-list {
    justify-content: center;
  }
}

.btn-container {
  height: 36px;
}

.btn-container.w-200, .btn-container.w-230 {
  width: 200px;
}

.btn-container.w-96 {
  width: 96px;
}

.btn-container a, .btn-container button {
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.retour-btn-container {
  height: 36px;
  font-size: 14px;
}

.retour-btn-container-w-93 {
  width: 93px;
}

.retour-btn-container-w-189 {
  width: 189px;
}

.btn-main-red {
  color: #fff;
  background-color: #99331a;
  font-weight: 500;
}

.btn-light-grey {
  color: #565656;
  background-color: #f5f5f5;
  font-weight: 500;
}

.flex-input-container {
  align-items: center;
  gap: 8px;
  display: flex;
}

.flex-input-container input[type="text"] {
  width: 371px;
}

.file-input-btn {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.file-input-btn span {
  color: #fff;
  pointer-events: none;
  font-size: 20px;
  position: absolute;
}

.plusBtn {
  appearance: none;
  color: #fff;
  cursor: pointer;
  background-color: #99331a;
  border-radius: 5.78px;
  width: 37px;
  height: 37px;
  font-size: 20px;
}

.hero {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  margin: 40px auto auto;
  display: block;
}

@media screen and (max-width: 1140px) {
  .hero {
    width: 100%;
  }
}

.steps-section {
  border-radius: 10px;
  padding: 40px;
}

@media screen and (max-width: 400px) {
  .steps-section {
    padding: 16px;
  }
}

.steps-list-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
  display: flex;
}

.step-card {
  padding-inline: 22px;
  background-color: #842c16;
  border-radius: 10px;
  width: 270px;
  height: 199px;
  padding-top: 44px;
}

.step-card .flex-container {
  flex-direction: column;
  gap: 17px;
  display: flex;
}

.step-card span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.step-card p {
  color: #fff;
  font-size: 12px;
  line-height: 143%;
}

.about-mission-section {
  max-width: 1115px;
  margin: auto;
  position: relative;
}

.about-mission-section h2 {
  color: #99331a;
  font-size: 18px;
  font-weight: 700;
}

.about-mission-section ol {
  color: #000;
  flex-direction: column;
  gap: 20px;
  padding-block: 16px;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  transform: translateX(15px);
}

.about-mission-section p {
  color: #99331a;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
}

@media screen and (max-width: 910px) {
  .about-mission-section p {
    position: absolute;
    bottom: -100px;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  .about-mission-section p {
    bottom: -120px;
  }
}

@media screen and (max-width: 500px) {
  .about-mission-section p {
    bottom: -140px;
  }
}

@media screen and (max-width: 400px) {
  .about-mission-section p {
    bottom: -180px;
  }
}

@media screen and (max-width: 353px) {
  .about-mission-section p {
    bottom: -210px;
  }
}

.about-mission-flex-container {
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  display: flex;
}

@media screen and (max-width: 910px) {
  .about-mission-flex-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about-mission-img-container {
  width: 494px;
  height: 458px;
}

@media screen and (max-width: 910px) {
  .about-mission-img-container {
    width: 100%;
  }
}

.about-mission-img-container img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  width: 494px;
  height: 458px;
}

@media screen and (max-width: 910px) {
  .about-mission-img-container img {
    width: 100%;
  }
}

.sec-paragraph {
  width: 65%;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .sec-paragraph {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .sec-paragraph {
    width: 100%;
  }
}

.notFound-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 90vh;
  display: flex;
}

.notFound-container .notfound-h1 {
  color: #99331a;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}

.notFound-container p {
  text-align: center;
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 650px) {
  .notFound-container p {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .notFound-container p {
    width: 100%;
  }
}

.notFound-container .notFound-links-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: flex;
}

.ajout-page {
  padding-top: 40px;
  padding-inline: 136px;
}

.ajout-page .flex-row-between-center {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.ajout-page h1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.ajout-page .ajout-form-flex-container {
  justify-content: space-between;
  display: flex;
}

.ajout-page .white-container {
  background-color: #fff;
  flex-direction: column;
  gap: 16px;
  width: 576px;
  padding-inline: 80px;
  display: flex;
}

.ajout-page .white-container-py-80 {
  padding-block: 80px;
}

.ajout-page .white-container-py-48 {
  padding-block: 48px;
}

.ajout-page .white-container-h-444 {
  height: 444px;
}

.ajout-page .flex-col-input-container {
  flex-direction: column;
  gap: 5px;
  width: 416px;
  display: flex;
}

.ajout-page .flex-col-input-container label {
  font-size: 14px;
  font-weight: 500;
}

.ajout-page .flex-col-input-container input:not(input[type="file"]), .ajout-page .flex-col-input-container textarea, .ajout-page .flex-col-input-container .file-text-container {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
}

.ajout-page .flex-col-input-container textarea {
  height: 120px;
  padding-top: 10px;
}

.ajout-page .flex-col-input-container input[type="file"] {
  appearance: none;
  text-indent: -999em;
  cursor: pointer;
  background-color: #99331a;
  border-radius: 5.78px;
  width: 37px;
  height: 37px;
}

.ajout-page .flex-col-input-container p {
  color: #99331a;
  font-size: 14px;
}

.ajout-page .right-container {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.ajout-page .grid-2-col-200 {
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
  width: 416px;
  margin-top: 16px;
  display: grid;
}

.ajout-page .grid-2-col-200 .checkbox-container {
  cursor: pointer;
  gap: 10px;
  padding-left: 16px;
  display: flex;
}

.ajout-page .grid-2-col-200 .checkbox-container label, .ajout-page .grid-2-col-200 .checkbox-container input {
  cursor: pointer;
}

.ajout-page .categories-container {
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 16px;
  display: flex;
}

.ajout-page .categories-container .category-Btn {
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 8px 16px;
  display: flex;
}

.ajout-page .categories-container .category-Btn input {
  display: none;
}

.ajout-page .categories-container .category-Btn label {
  color: #565656;
  text-align: center;
  pointer-events: none;
  font-size: 12px;
}

.logement-page {
  margin-top: 86px;
  max-width: 971px;
  margin-inline: auto;
}

.logement-page img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.logement-page .flex-row-container {
  gap: 10px;
  margin-top: 24px;
  display: flex;
}

.logement-page .carousel {
  gap: 10px;
  display: flex;
}

.logement-page .carousel .big-pic {
  cursor: pointer;
  width: 303px;
  height: 357px;
}

.logement-page .carousel .little-pics-container {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  display: grid;
}

.logement-page .carousel .little-pics-container img {
  cursor: pointer;
  width: 147px;
  height: 174px;
}

.logement-page .profile-info-container {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  width: 345px;
  height: 281px;
  padding: 24px;
}

.logement-page .profile-info-container .profile-flex-col {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.logement-page .profile-info-container .profile-title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.logement-page .profile-info-container .profile-flex-row {
  align-items: center;
  gap: 18px;
  padding-block: 16px;
  display: flex;
}

.logement-page .profile-info-container .reviews {
  background-color: #f5f5f5;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 50px;
  height: 39px;
  display: flex;
}

.logement-page .profile-info-container a, .logement-page .profile-info-container button {
  font-size: 14px;
  font-weight: 500;
}

.logement-page .profile-info-container .profile-btns {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.logement-page .logement-info-container {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  width: 616px;
  margin-top: 24px;
  padding: 24px;
}

.logement-page .logement-info-container .logement-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.logement-page .logement-info-container address {
  color: #565656;
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
}

.logement-page .logement-info-container .logement-desc-container {
  margin: 32px 0 40px;
}

.logement-page .logement-info-container .logement-desc {
  color: #000;
  font-size: 14px;
}

.logement-page .logement-info-container .equip-title, .logement-page .logement-info-container .category-title {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.logement-page .logement-info-container .logement-items-list-container {
  margin-top: 16px;
}

.logement-page .logement-info-container .logement-items-list-container .list-grid {
  grid-template-columns: 100px 100px 100px;
  gap: 8px;
  list-style: none;
  display: grid;
}

.logement-page .logement-info-container .logement-items-list-container .list-item {
  color: #565656;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  font-size: 12px;
  display: flex;
}

.favoris-page-heading-section {
  margin-block: 70.86px;
}

@media screen and (max-width: 1024px) {
  .favoris-page-heading-section {
    margin-block: 40px;
  }
}

.favoris-page p {
  color: #000;
  flex-direction: column;
  margin-top: 8px;
  font-size: 14px;
  line-height: 143%;
  display: flex;
}

@media screen and (max-width: 420px) {
  .favoris-page p {
    display: block;
  }
}

.auth-page {
  justify-content: center;
  align-items: center;
  display: flex;
}

.auth-page-container {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  width: 742px;
  height: 590px;
  margin-top: 134.29px;
  padding: 80px;
}

@media screen and (max-width: 400px) {
  .auth-page-container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .auth-page-container {
    margin-top: 93.64px;
    padding: 32px 16px;
  }
}

.auth-page .auth-form {
  flex-direction: column;
  gap: 22px;
  display: flex;
}

.auth-page p {
  color: #000;
  text-align: center;
  flex-direction: column;
  margin-top: 8px;
  font-size: 14px;
  line-height: 143%;
  display: flex;
}

@media screen and (max-width: 420px) {
  .auth-page p {
    display: block;
  }
}

.auth-page form {
  margin-top: 38px;
  margin-bottom: 22px;
  max-width: 360px;
  margin-inline: auto;
}

.auth-page form .input-container {
  flex-direction: column;
  gap: 4px;
  width: 360px;
  margin: auto;
  display: flex;
}

@media screen and (max-width: 400px) {
  .auth-page form .input-container {
    width: 100%;
  }
}

.auth-page form .input-container label {
  color: #0d0d0d;
  font-weight: 500;
}

.auth-page form .input-container-last {
  margin-top: 22px;
}

.auth-page form .input-container input {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 8px;
}

.auth-page form button {
  height: 36px;
  margin-top: 38px;
}

.auth-page form .btn-container-inscription button {
  margin-top: 16px;
}

.auth-page .actions-container {
  text-align: center;
  color: #99331a;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  display: flex;
}

.auth-page .actions-container a {
  color: #99331a;
}

.auth-page-inscription .auth-page-container {
  height: 797px;
  margin-top: 40px;
}

@media screen and (max-width: 400px) {
  .auth-page-inscription .auth-page-container {
    height: 100%;
  }
}

.auth-page-conditions-checkbox-container {
  width: 100%;
}

.auth-page-conditions-checkbox-container label {
  color: #565656;
  margin-left: 10px;
  font-size: 12px;
}

.auth-page .actions-container-inscription {
  margin-top: 22px;
}

.messagerie-page {
  z-index: 10;
  background-color: #fff;
  width: 1059px;
  height: 100vh;
  margin: auto;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.messagerie-page-left-container {
  min-width: 376px;
  padding: 27px 8px;
}

.messagerie-page .messages-section {
  margin-top: 23px;
}

.messagerie-page h1 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}

.messagerie-page .message-list {
  max-width: 360px;
  margin-top: 16px;
  list-style: none;
}

.messagerie-page .message-list .message-item button {
  cursor: pointer;
  width: 100%;
}

.messagerie-page .message-list .message-item-container {
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 10px;
}

.messagerie-page .message-list .message-item-container-selected {
  background-color: #fffbf9;
}

.messagerie-page .message-list .message-item-container .message-item-left-container {
  align-items: center;
  display: flex;
}

.messagerie-page .message-list .message-item-container .message-info-right-container {
  text-align: start;
  justify-content: space-between;
  gap: 43.5px;
  width: 100%;
  margin-left: 20px;
  display: flex;
}

.messagerie-page .message-list .message-item-container .user-name {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
}

.messagerie-page .message-list .message-item-container .user-message-short {
  color: #565656;
  margin-top: 4px;
  font-size: 10px;
}

.messagerie-page .message-list .message-item-container .sent-time {
  color: #565656;
  font-size: 10px;
}

.messagerie-page .message-list .message-item-container .message-checked {
  background-color: #99331a;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: block;
}

.messagerie-page .message-list .message-item-container .message-time-info-container {
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
  display: flex;
}

.messagerie-page .conversation-section {
  background-color: #fffbf9;
  width: 100%;
  height: calc(100% - 137px);
  padding: 40px 42px;
}

.messagerie-page .conversation-messages-list {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.messagerie-page .conversation-messages-list li {
  gap: 6px;
  display: flex;
}

.messagerie-page .conversation-messages-list .user-message-row-reverse {
  flex-direction: row-reverse;
}

.messagerie-page .conversation-messages-list .user-message-row-reverse .conversation-message-flex-col-container {
  align-items: flex-end;
}

.messagerie-page .message-user-image {
  border-radius: 5.49px;
  width: 44.5px;
  height: 45.05px;
}

.messagerie-page .conversation-user-image {
  border-radius: 6px;
  width: 28px;
  height: 28px;
}

.messagerie-page .conversation-message-flex-col-container {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.messagerie-page .conversation-message-flex-col-container .circle-space {
  background-color: #565656;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  display: block;
}

.messagerie-page .conversation-message-flex-col-container .conversation-message-info {
  color: #565656;
  align-items: center;
  gap: 4px;
  font-size: 8px;
  display: flex;
}

.messagerie-page .message-white-container {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 0 20px 20px;
  max-width: 273px;
  padding: 12px;
}

.messagerie-page .message-white-container p {
  color: #0d0d0d;
  font-size: 10px;
}

.messagerie-page .conversation-form {
  padding: 30px 21px;
  position: relative;
}

.messagerie-page .conversation-form form, .messagerie-page .conversation-form textarea {
  width: 100%;
}

.messagerie-page .conversation-form textarea {
  border: 1px solid #f5f5f5;
  height: 95px;
  padding: 16px;
}

.messagerie-page .conversation-form button {
  background-color: #99331a;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__d7bf487f._.css.map*/