.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        width: 742px;
        height: 590px;
        background-color: $white;
        border: 1px solid $light_grey;
        margin-top: 134.29px;
        padding: 80px;

        
        @media screen and (max-width:400px) {
                width: 100%;
        }

        @media screen and (max-width:1024px) {
            margin-top: 93.64px;
            padding: 32px 16px;
        }
    }

    .auth-form{
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    p{
       color: #000;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        text-align: center;

        @media screen and (max-width:420px) {
            display: block;
        }
    }

    form{
        margin-top: 38px;
        margin-bottom: 22px;
        max-width: 360px;
        margin-inline: auto;


        .input-container{
            display: flex; 
            flex-direction: column;
            gap: 4px;
            margin: auto;
            width: 360px;

            @media screen and (max-width:400px) {
                    width: 100%;
            }
            
            label{
                color: $black;
                font-weight: 500;
            }

            &-last{
                margin-top: 22px;
            }

            input{
                height: 40px;
                border-radius: 4px;
                padding-left: 8px;
                border: 1px solid $light_grey;
                background-color: $white;
                width: 100%;
            }
        }

        button{
            margin-top: 38px;
            height: 36px;
        }

        .btn-container-inscription{
            button{
                margin-top: 16px;
            }
        }
    }

    .actions-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        font-size: 14px;
        color: $main_red;

        a{
            color: $main_red;
        }
    }

    &-inscription{
        .auth-page-container{
            height: 797px;
            margin-top: 40px;

            @media screen and (max-width:400px) {
                    height: 100%;
            }
        }
    }

    &-conditions-checkbox-container{
        width: 100%;

        label{
            font-size: 12px;
            color: $dark_grey;
            margin-left: 10px;
        }
    }

    .actions-container-inscription{
        margin-top: 22px;
    }
}