.favoris-page{

    &-heading-section{
        margin-block: 70.86px;

        @media screen and (max-width:1024px) {
            margin-block: 40px;
        }
    }

    p:not(.block){
        color: #000;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;

        @media screen and (max-width:420px) {
            display: block;
        }

    }
}