.login-page{
    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        width: 742px;
        height: 590px;
        background-color: $white;
        border: 1px solid $light_grey;
        margin-top: 134.29px;
        padding: 80px;

        @media screen and (max-width:1024px) {
            margin-top: 93.64px;
            padding: 32px 16px;
        }
    }

    p{
       color: #000;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;

        @media screen and (max-width:420px) {
            display: block;
        }
    }

    form{
        margin-top: 38px;
        margin-bottom: 22px;

        .input-container{
            display: flex; 
            flex-direction: column;
            gap: 4px;
            max-width: 360px;
            margin: auto;

            &-last{
                margin-top: 22px;
            }

            input{
                height: 40px;
                border-radius: 4px;
                padding-left: 8px;
                border: 1px solid $light_grey;
                background-color: $white;
            }
        }

        button{
            margin-top: 38px;
            height: 36px;
        }
    }

    .actions-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        font-size: 14px;
        color: $main_red;

        a{
            color: $main_red;
        }
    }
}