
.notFound-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .notfound-h1{
        font-weight: 900;
        color: $main_red;
        font-size: 100px;
        text-align: center;
    }

    p{
        text-align: center;
        width: 60%;
        margin: auto;
    }
}


